<html>
<head>
    <title>Arnold: the provisionator</title>
    <link rel="stylesheet" type="text/css" href="/jquery-ui.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/scripts.js"></script>
</head>
<body>
    <h1>Arnold: <i>the provisionator</i></h1>
    <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
      <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    		<li class="ui-state-default ui-corner-top"><a href="/">List Nodes</a></li>
    		<li class="ui-state-default ui-corner-top"><a href="/new">Create New Node</a></li>
    	</ul>
    	<div id="content" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        <%= yield %>
    	</div>
    </div>
</body>
</html>
