<form action="/create" method="post">
  <div class="meta">
    <label for="name">Name:</label>
    <input type="text" size=60 id"name" name="name" />
    <label for="macaddr">MAC Address:</label>
    <input type="text" size=60 id"macaddr" name="macaddr" />
  </div>
  <table class="parameters">
    <tr class="header"><th colspan="2">Parameters <input type="button" id="newparam" value="Add Parameter" /></th></tr>
  </table>
  <table class="classes">
    <tr class="header"><th colspan="3">Classes</th></tr>
    <% even = true %>
    <% if @classes %>
      <% @classes.each do |classname, desc| %>
        <tr class="<%= even ? "even":"odd" %>">
          <td class="classname"><%= classname %></td>
          <td class="description"><%= desc %></td>
          <td class="selected"><input name="classes[]" value="<%= classname %>" type="checkbox"></td>
        </tr>
        <% even = !even %>
      <% end %>
    <% end %>
  </table>
  <input type="submit" value="Create Node" />
</form>
