table {
  width: 850px;
  border: 1px solid #ccc;
  background: #efefef;
  border-spacing: 0;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 1em 0;
}
th {
  border-bottom: 2px solid #999;
  text-align: left;
}
tr.even {
  background: #b3c6ae;
}
tr.unsaved {
  background: #efd540;
}
td {
  border-left: 1px solid #ddd;
}
td.param,
td.classname {
  width: 120px;
}
input#newparam {
  float: right;
  font-size: small;
}
input.value {
  width: 720px;
}
div.meta label {
  display: block;
}